<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Segway_Asy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.0722E-17 0.070156 -7.9452E-05"
        rpy="0 0 0" />
      <mass
        value="0.28447" />
      <inertia
        ixx="0.00039919"
        ixy="5.2128E-19"
        ixz="-5.4543E-20"
        iyy="0.00022072"
        iyz="1.815E-07"
        izz="0.00058388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-0.0054792 1.3878E-17 1.6987E-17"
        rpy="0 0 0" />
      <mass
        value="0.086767" />
      <inertia
        ixx="8.1115E-05"
        ixy="1.7453E-22"
        ixz="-2.8042E-21"
        iyy="4.1938E-05"
        iyz="-1.6826E-20"
        izz="4.1938E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_axle"
    type="fixed">
    <origin
      xyz="0.06 0 0.04"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Segway_Asy/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_axle"
    type="fixed">
    <origin
      xyz="-0.06 0 0.04"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>